.diagram-wrapper {
  width: 100%;
  height: 100%;
}

.diagram__no-data {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
}