div.alert-success {
  position: relative;
  z-index: -1;
  top: -30px;
  margin-bottom: -30px;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  height: 30px;
  line-height: 0;
  border-radius: 0;
  transform: translateY(-30px);
  animation: slideDown 2.5s 0.2s 1 ease forwards;
}

@keyframes slideDown {
  0%, 100% { transform: translateY(-30px); }
  10%, 90% { transform: translateY(0px); }
}

.register {
  margin-top: 30px;
}
